


.barra-navegacion {
    background-color: #073B74;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.texto-logo {
    font-size: 18px;
    font-weight: bold;
}

.contenedor-botones {
    display: flex;
}

.boton-nav {
    background-color: #F9B300;
    color: black;
    padding: 8px 15px;
    border-radius: 8px;
    margin-left: 10px;
    text-decoration: none;
    font-weight: bold;
}





body {
  font-family: Arial, sans-serif;
   background-color: #e5e7eb;
   padding: 0 px;
    min-height: 100vh;
 
}  

.contenedor_grande { 
    
    position: relative;
    display: flex;

 background: lch(57.95% 13.26 178.02);
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.1);
  width: 1000px;
   gap:10px;
   height: 400px;
margin-left: auto;
margin-right: auto;
margin-top: 50px;

}

.mitad_contendor {

    

  background: hwb(0 100% 0%);
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.1);
  width: 50%;
 

}

.imagen {
  width: 100%;
  height: 100%;               /* altura fija para consistencia visual */
  background: #e5e7eb;
  color: #6b7280;
  border-radius: 8px;
  border: none;
  margin-bottom: 10px;
  overflow: hidden;            /* importante: recorta lo que sobrepase el contenedor */
}


.imagen img {
  display: block;              
  width: 100%;              
  height: 100%;                
  object-fit: cover;          
  object-position: center;    
  border-radius: 6px;          
}

 







.otra_mitad {

      background: hwb(0 85% 15%);
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.1);
  width: 50%; 
  text-align: center;

}   


.botones {
   display: flex; 
   justify-content: center;
  gap: 10px;


}


.boton_volver {
     border-radius: 15px;
     background-color: rgb(255, 165, 0);
     border: none;
     width: 35%;
     height: 35px;

}

.boton_car {
     border-radius: 15px;
     background-color: rgb(91, 228, 91);
     border: none;
     width: 35%;
     height: 35px;
} 

.letra:link {
    color: #000000;
    text-decoration: none; 
}


.letra:visited {
    color: #000000;
}


.letra:hover {
    color: #000000;
    text-decoration: underline; 
}


.letra:active {
    color: #000000;
}







